body{
    font-size: 25px;
}
/* button{
    display: inline;
    font-size: larger;
} */

.container{
    border: 1px solid black;
    width: 800px;
    height: 250px;
    text-align: center;
    margin: 55px auto 0;
    background-color: bisque;
}
button{
    position: relative;
    left: -7px;
}